﻿@model Kindy2.Models.UVSensor

@{
    ViewBag.Title = "Delete";
}
<!--UVSensor is for testing and won't be used for the actual project. We decided not to delete them yet because some codes are tied with it. May require tidy up in future.-->
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UVSensor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SensorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UVIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UVIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorMV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorMV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Column1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Column1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Column2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Column2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
