﻿@model IEnumerable<Kindy2.Models.UVSensor>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css")
<h2 class="title">Index</h2>
<!--UVSensor is for testing and won't be used for the actual project. We decided not to delete them yet because some codes are tied with it. May require tidy up in future.-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SensorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UVIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorMV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Column2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SensorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UVIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorMV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Column2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UVId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UVId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UVId })
        </td>
    </tr>
}

</table>
