﻿@model Kindy2.Models.ServiceHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kindergarten.KindyN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kindergarten.KindyN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusS.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusS.Level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
