﻿@model IEnumerable<Kindy2.Models.ServiceHistory>

@{
    ViewBag.Title = "StatusT";
}

<style>
    .title {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    .details {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    th.text-left {
        text-align: left;
    }

    table {
        background: white;
        margin: auto;
        padding: 5px;
        width: 95%;
        max-height: 50px;
    }

    th {
        color: black;
        background: #ffac1d;
        padding-left: 5px;
        text-align: left;
    }

    td {
        background: #FFFFFF;
        text-align: left;
    }
</style>



<div id="serviceHistory">
    <h2 style="padding-left: 5px; padding-top: 30px; font-weight: bold;font-size: 20px;clear:both;">Service History</h2>
    <p style="padding-left:5px;">
        @Html.ActionLink("Enter New Status", "Create")
    </p>

    <table>
        <thead>
            <tr>
                <th width="10%">Date</th>
                <th width="75%">Description</th>
                <th width="10%">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StatusS.Level)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.SID })
                    </td>
                </tr>
            }

            <tr></tr>
        </tbody>
    </table>
</div>

