﻿@model IEnumerable<Kindy2.Models.UVData>

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/css")
<h2 class="title">UV Details</h2>

<div style="clear:both;">
    <p style="float:left; padding-right:50px;">Start: <input type="text" id="datepicker"></p>
    <p style="float:left; padding-right:20px;">End: <input type="text" id="datepicker2"></p>
    <p style="float:left; padding-right:20px;"> <input type="button" id="refresher" value="Refresh" onclick="refresh()"></p>

</div>
<div id="chart_div" style="clear:both"></div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UVIndex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UVIndex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<!--The logic of displaying the graph. -->

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>


@section scripts {
    <script type="text/javascript">

        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var tdata = new google.visualization.DataTable();
            tdata.addColumn('datetime', 'UVSensor');
            tdata.addColumn('number', 'UVIndex');
            @for (var i = 0; i < Model.Count(); i++)
        {

        <text>
            //Extracting the date into day, month, year, hour etc and put these variables into the graph.
            temp = [];
            temp2 = [];
            temp3 = [];
            temp = ("@Model.ElementAt(i).Time.ToString()").split(" ");
            temp2 = temp[0].split("/");
            temp3 = temp[1].split(":");
            var day = parseInt(temp2[0]);
            var month = parseInt(temp2[1]) - 1;
            var year = parseInt(temp2[2]);
            var hour = parseInt(temp3[0]);
            var min = parseInt(temp3[1]);
            var second = parseInt(temp3[2]);
            if ((temp[2] === "p.m.") && (hour < 12)) {
                hour = (hour + 12) % 24;
            }
            if ((temp[2]) === "a.m." && (hour === 12)) {
                hour = 0;
            }
            </text>
                   <text>
            //adding the variables into the row for the graph.
            tdata.addRow([
                       new Date(year, month, day, hour, min, second),
                    </text>
             @Model.ElementAt(i).UVIndex
            <text>])</text> @:;
                        }


            var options = {
                format: 'MMM d, y',
                legend: 'none',
                title: 'UV Level',
                width: 1000,
                height: 563,
                pointSize: 5,
                hAxis: {
                    title: 'Time',
                },
                vAxis: {
                    title: 'UV Index'
                }

            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(tdata, options);

        }
        //The logic of date picker.
        $(function () {
            $("#datepicker").datepicker();
        });
        $(function () {
            $("#datepicker2").datepicker();
        });

        //once the refresh button is clicked, the graph is refreshed. The code is similar to the initials.
        var button = document.getElementById('refresher');
        button.onclick = function () {
            splitstart = [];
            splitend = [];
            var start = document.getElementById('datepicker').value;
            var end = document.getElementById('datepicker2').value;
            splitstart = start.split("/");
            var startyear = parseInt(splitstart[2]);
            var startmonth = parseInt(splitstart[0]) - 1;
            var startday = parseInt(splitstart[1]);
            splitend = end.split("/");
            var endyear = parseInt(splitend[2]);
            var endmonth = parseInt(splitend[0]) - 1;
            var endday = parseInt(splitend[1]);
            var compareStartMonth = startmonth + 1;
            var compareEndMonth = endmonth + 1;
            var compareStart = startyear + "-" + compareStartMonth + "-" + startday;
            var compareEnd = endyear + "-" + compareEndMonth + "-" + endday;


            var tdata = new google.visualization.DataTable();
            tdata.addColumn('datetime', 'UVSensor');
            tdata.addColumn('number', 'UVIndex');
            @for (var i = 0; i < Model.Count(); i++)
            {

            <text>
            temp = [];
            temp2 = [];
            temp3 = [];
            temp = ("@Model.ElementAt(i).Time.ToString()").split(" ");
            temp2 = temp[0].split("/");
            temp3 = temp[1].split(":");
            var day = parseInt(temp2[0]);
            var month = parseInt(temp2[1]) - 1;
            var year = parseInt(temp2[2]);
            var hour = parseInt(temp3[0]);
            var min = parseInt(temp3[1]);
            var second = parseInt(temp3[2]);
            if ((temp[2] === "p.m.") && (hour < 13)) {
                hour = (hour + 12) % 24;
            }
            if ((temp[2]) === "a.m." && (hour === 12)) {
                hour = 0;
            }
            tdata.addRow([
            new Date(year, month, day, hour, min, second),
            </text>
                 @Model.ElementAt(i).UVIndex
                <text>])</text> @:;
                       }

            var options = {
                legend: 'none',
                title: 'UV Level',
                width: 1000,
                height: 563,
                pointSize: 5,
                hAxis: {
                    format: 'MMM d, y',
                    title: 'Time',
                    viewWindow: { min: new Date(startyear, startmonth, startday), max: new Date(endyear, endmonth, endday) }
                },
                vAxis: {
                    title: 'UV Index'
                }

            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(tdata, options);
        }
    </script>

}

<!--jquery required for graph and datepicker.-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />





