﻿@model IEnumerable<Kindy2.Models.KindyHome>
@{
    ViewBag.Title = "Home Page";
}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<!-- This css is to ensure that the google map contols (zoom bar etc) show and size correctly. -->

<style>
    #map-canvas {
        width: 1000px;
        height: 700px;
    }

    #whoare {
        background-color: #FFFFFF;
    }

    #container1111 {
        float: right;
    }
</style>
<!--The logic of interacting with the google map.-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">
    <script type="text/javascript">

    var markersmap = [];
    var markers = [];   // array for markers
    
    function initialize() {

        markers[0] = {};
        
        // making loop for dynamic data from database for marker[]
       
         @foreach (var item in Model)
        {

            string color = "cool";

            if ( @item.Status == 1 )    // if statment for status condition
            { color = "red"; }
            else if (@item.Status == 2) { color = "yellow"; }
            else { color = "green"; }

            <text>markers[</text>@item.KindyID<Text>] = {long:</text>@item.Lat <Text>,lat:</text>@item.Lng<text>,'type':['nz'],stars:</text>@item.KindyID<text>,status:'</text>@color<text>','url':'Kindergarten/details/</text>@item.KindyID<text>'}</Text> @:;

        }

        // initial google map start page
        var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(-36.363882,174.044922),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


        // pin (marker) the Long and Lat for google map
        $.each(markers, function(index, m) {

            markersmap[index] = new google.maps.Marker({
                position: new google.maps.LatLng(m.long,m.lat),
                map: map,
                url:m.url,
                icon:'http://maps.google.com/mapfiles/ms/icons/'+m.status+'-dot.png'
            });
            google.maps.event.addListener(markersmap[index], 'click', function() {
                window.location.href = this.url;
            });

        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);

    // check box function
    $("input:checkbox").bind( "change", function()
    {
        $.each(markers, function(index, m)
        {
            if(
            $("input:checkbox[name='stars'][value='"+m.stars+"']").is(':checked') )
            {
                markersmap[index].setVisible(true);
            }
            else
            {
                markersmap[index].setVisible(false);
            }
        })
    });

        </script>
    </section>
}

<body>
    <div id="whoare">
        <div id="container1111">
            <div id="map-canvas">
            </div>
        </div>
    </div>
</body>
