﻿@model IEnumerable<Kindy2.Models.Kindergarten>

@{
    ViewBag.Title = "KindyList";
}

<style>
    .customers {
        width:100%;
        text-align: left;
        margin-left: 10%;
        margin-right: 7%;
        margin-top: 0;
        margin-bottom: 5%;
        height: 300px;
        border-top: 0;
        border-left: 5px solid black;
        border-right: 5px solid black;
        border-bottom: 35px solid black;
        padding-left: 5%;
        background: white;
        color: #222;
        font-size: 8pt;
        overflow: auto;
    }

    .customersTitle {
        width:100%;
        margin-left: 10%;
        margin-right: 7%;
        margin-top: 15%;
        margin-bottom: 0;
        background: black;
        color: white;
        font: "Segoe UI";
        text-align: left;
        padding-left: 5%;
        padding-top: 2%;
        font-size: 16pt;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }

     .SelectAll {
        width:100%;
        height:38px;
        margin-left: 10%;
        margin-right: 7%;
        margin-bottom: 0;
        background: black;
        color: white;
        font: "Segoe UI";
        text-align: left;
        padding-left: 5%;
        padding-top: 5px;
        
    }




    .light-table-filter {
        width: 100%;
        height: 38px;
        margin-left: 10%;
        margin-right: 7%;
        margin-bottom: 0;
        border-left: 5px solid black;
        border-right: 5px solid black;
        border-top: 0;
        border-bottom: 0;
        background: white;
        color: black;
        padding-left: 8%;
        font-size: 8pt;
    }
</style>

<!--The logic for dynamic filtering of the KindyList-->
<script type="text/javascript" charset="utf-8">

    //Once checked, all checkbox will be checked and vice versa
    function toggle(source) {
        checkboxes = document.getElementsByName('stars');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }


    //The logic of dynamic filter
    (function (document) {
        'use strict';

        var LightTableFilter = (function (Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }


            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
</script>


<h2 class="customersTitle">
    Customers
</h2>   
<div class="SelectAll" >
    <a href="@Url.Action("Create", "Kindergarten")" >
        <img src="@Url.Content("~/Content/AddIcon.png")" style="background-color:white; width:15px; height:15px; " />
    </a>
    <div style="font-size:10px; float:right; padding-right:10px;">Select All: <input type="checkbox" name="stars" onclick="toggle(this)" checked=""></div>
</div>



@using (Html.BeginForm())
{

    <input type="search" class="light-table-filter" data-table="order-table" placeholder="Search">

}
<div class="customers">

    <table class="order-table table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.KindyN, "Details", "Kindergarten", new { id = item.KindyID }, null)
                    <div style="float:right;">
                        <input type="checkbox" name="stars" , onclick="handleClick(this);" value="@item.KindyID" checked="">
                    </div>
                    <div style="clear:left; font:2px;"> Sensor# </div>
                    <div style="float:left; font:2px;">@item.SensorId</div>
    
                </td>
            </tr>
        }
    </table>

    <!--end .customers -->
</div>