﻿@{
    ViewBag.Title = "Settings";
}

<!DOCTYPE html>
<!-- Setting Page. It shows a pic of a cat now but allow future modification.-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       <img src="~/content/cat.jpg" />
    </div>
</body>
</html>
