﻿body {
    background: #ffac1d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 220px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.whiteboard {
    background:white;
}

    .title {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    .details {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    th.text-left {
        text-align: left;
    }

    table {
        background: white;
        margin: auto;
        padding: 5px;
        width: 95%;
        max-height: 50px;
    }

    th {
        color: black;
        background: #ffac1d;
        padding-left: 5px;
        text-align: left;
    }

    td {
        background: #FFFFFF;
        text-align: left;
    }
