﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .mainlayout {
            position: fixed;
            background-image: url('../../Content/Background.jpg');
            height: 100%;
            width: 230px;
            z-index: 10;
        }

        .searchbox101 {
            left: 20px;
            height: 450px;
            width: 200px;
            padding: 10px;
        }

        .resize1 {
            max-width: 90%;
            max-height: 90%;
        }
    </style>

</head>
<body>
    <div class="mainlayout">
        <div class="logo101">
            <a href='@Url.Action("Index", "Home")'>
              
                    <img class="resize1" src="@Url.Content("~/Content/LogoWhite.png")" height="12%" />
                </a>


</div>
        <div class="searchbox101">
            @{Html.RenderAction("KindyList", "Home");}
        </div>
        <div class="setting101" style="padding-top:10%;">
            <a href='@Url.Action("Settings", "Home")'>

                <img src="@Url.Content("~/Content/Settings.png")" />
            </a>





           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
           
        </footer>
    </div>

 
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
