﻿@model Kindy2.Models.Kindergarten

@{
    ViewBag.Title = "Details";
}
<style>
    .title {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    .details {
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
    }

    th.text-left {
        text-align: left;
    }

    table {
        background: white;
        margin: auto;
        padding: 5px;
        width: 95%;
        max-height: 50px;
    }

    th {
        color: black;
        background: #ffac1d;
        padding-left: 5px;
        text-align: left;
    }

    td {
        background: #FFFFFF;
        text-align: left;
    }
</style>

<h2 class="title">View Customer Details</h2>
<div style="height: 600px; overflow:auto; background:white;">

    <div>
        <h4 style="padding-left: 5px;font-weight: bold;font-size: 20px; padding-right:10px;">
            @Html.DisplayFor(model => model.KindyN)
        <input type="button" title="Edit" value="Edit" style="font-size: 15px;" onclick="location.href='@Url.Action("Edit", "Kindergarten", new { id = Model.KindyID })'" />
        <input type="button" title="Delete" value="Delete" style="font-size: 15px;" onclick="location.href='@Url.Action("Delete", "Kindergarten", new { id = Model.KindyID })'" />
    </h4>

    <div style="font-size: 18px; color: #ffac1d; padding-left:5px;">
        Sensor ID#
        @Html.DisplayFor(model => model.UVSensor.UVId)
    </div>


    <div style="padding-left: 50px; padding-top: 20px">
        <div style="float:left;">

            @Html.DisplayFor(model => model.ContactN)
            <p></p>
            @Html.DisplayFor(model => model.Address) <br />
            @Html.DisplayFor(model => model.Suburb)<br />
            @Html.DisplayFor(model => model.City)
            @Html.DisplayFor(model => model.PostC)<br />
            @Html.DisplayFor(model => model.Country)<br />
        </div>

        <div style="float:left; padding-left: 25%;">
            @Html.DisplayFor(model => model.Phone) <br />
            @Html.DisplayFor(model => model.Email) <br />
        </div>

    </div>
</div>
<p style="clear:both; padding-left:10px; padding-top:10px;">
    <input type="button" title="View UV Index" value="View UV Index" style="font-size: 15px; " onclick="location.href='@Url.Action("details", "UVDatas", new { id = Model.SensorId })'" />
</p>

@{Html.RenderAction("StatusT", "ServiceHistory");}

</div>
